docs/source/
# Ignore compiled Python files
*.pyc

# Ignore Python egg-info directories (typically contain package metadata for package distribution)
*.egg-info

# Ignore Python cache files/directories (compiled Python files)
__pycache__/

# Ignore source and doctrees directory (typically contains markdown and configuration files
docs/build/doctrees/

# Ignore data directory (typically contains data and model files)
data/
models/
wandb/

# Ignore log files
*.log

# Ignore raw data except the test data
scenario_grasp_configurations/20*